lab4_lancuch_atomow/wyniki/lab4_atomy_1.txt
lab4_lancuch_atomow/wyniki/lab4_atomy_2.txt
lab4_lancuch_atomow/wyniki/lab4_atomy_3.txt
lab4_lancuch_atomow/wyniki/lab4_atomy_4.txt
lab4_lancuch_atomow/wyniki/lab4_atomy_5.txt
lab4_lancuch_atomow/wyniki/lab4_atomy_6.txt
